# =========================
# Docker / MySQL volumes
# =========================
data/mysql/db/
data/mysql/

# =========================
# Django / Python
# =========================
__pycache__/
*.pyc
*.pyo
*.sqlite3
*.log

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Docker
# =========================
*.env
docker-data/

